* {
    border:0;
    padding:0;
    margin:0;
} /*aqui limpio los border, padding y margin de mi archivo*/

/*-----------Desde aqui lo que ago es darles una capa muy superficial de estetica a las etiquetas-------*/
/*----------------------------------Encavezado.html------------------------------------*/
header {
    padding: 3em;
    background-color: rgba(65, 105, 225, 0.466);
}

h2{
    padding: 0.5em;
}    




.parrafo{
    background-color: rgba(65, 105, 225, 0.466);
    text-align: center;
    padding: 1em
}


article p{
    font-size: 1.5em;
}

main{
    background-color: rgba(65, 105, 225, 0.11);
    padding: 1em;
    padding-left: 15em;
}




footer {
    background-color: rgba(65, 105, 225, 0.466);
    height: 3em;
}
