* {
    border:0;
    padding:0;
    margin:0;
} /*aqui limpio los border, padding y margin de mi archivo*/


header {
    padding: 2em;
    background-color: rgba(129, 165, 231, 0.349);   
}


article  {
    background-color: rgba(129, 165, 231, 0.26);
    
    padding: 1em;
    padding-left: 3em;
}

.parrafo {
    background-color: rgba(129, 165, 231, 0.37);
    text-align: center;
    padding: 1em;
    
}

h1 {
    padding-left: 3em;
}
 
.datos{
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: 0.2em solid #e90b73;
    margin-bottom: 1em;
    justify-content: center;
    margin: 0 auto;
    width: 34em;
}

select{
    height: 1.5em;
    border: solid 0.2em #e90b73;
    margin: 0.6em;
}

input{
    width: 30em;
    height: 1.5em;
    border: solid 0.2em #e90b73;
    margin: 0.6em;
}

.boton{
    color: #e90b73 ;
    border: solid 0.2em #e90b73;
    height: 3.5em;
    width: 5em;
    margin: 0 auto;
}

h2{
    text-align: center;
    padding: 0.7em;
}

table{
    border-collapse: collapse;
    border: solid 0.3em #000000;
    margin: 0 auto;
    text-align: center;
}

td{
    border: solid 0.3em #000000;
    background-color: white;
    width: 5em;
    height: 4vh;
}

th{
    color: white;
    background-color: #e90b73;
    width: 5em;
    height: 4vh;
}


form input[type = "date"]{
    width: 24em;
}

.flex figure, .flex p{
    display: inline-block;
    vertical-align: middle;
}

.principal {
    width: 10em;
    height: 24vh;
}

.principal img {
    height: 100%;
    width: 100%;
}

.figra {
    width: 2.5em;
    height: 5vh; 
}

.figra img{
    width: 100%;
    height: 100%;
}

.nombre{
    font-size: 2em;
    padding-left: 0.5em;
}
